<div>
  <% if @users.empty? %> 
    <div>There are no users.</div>
  <% else %>
    <div>
      <% @users.each do |user| %>
          <div>
            <%= image_tag user.photo, alt: "User pic" %>
            <%= link_to user_url(user), do %>
            <div>
              <h1><%= user.name %></h1>
              <p>Total posts: <%= user.posts_counter %></p>
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
</div>
